<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionName="KPaPride" package="tionerdappxfandroid.tionerdapp" android:versionCode="1">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="TioNerdAppXF.Android" android:icon="@drawable/icon"></application>
</manifest>